.terminal-order {
  width: 100%;
  padding: 9px 12px 10px 12px;
  box-sizing: border-box;

  background-color: #202020;
}

.terminal-order__header {
  width: 100%;
  height: 34px;

  display: flex;
  align-items: center;

  background-color: #272727;
}

.terminal-order__heading {
  margin: 0 auto 0 13px;

  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  font-weight: normal;
  letter-spacing: .3px;
  line-height: 14px;
  text-transform: uppercase;
}

.terminal-order__tabs {
  height: 100%;

  display: flex;
}

.terminal-order__tab {
  height: 100%;

  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  padding: 0 8px;

  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  font-weight: 500;

  transition: .15s ease;

  &:not(.terminal-order__tab--current-true):hover,
  &:not(.terminal-order__tab--current-true):focus {
    background-color: rgba(12, 63, 183, 0.20);
  }
}

.terminal-order__tab--current-true {
  background-color: #0C3FB7;
}

.terminal-order__information {
  padding: 8px 0;

  display: flex;
  align-items: center;
}

.terminal-order__action {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  &:not(:last-child) {
    margin-right: 13px;
  }
}

.terminal-order__action--current-true {
  color: rgba(246, 84, 84, 0.95);
}

.terminal-order__budget {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  margin-left: auto;
}

.terminal-order__field {
  width: 100%;
  height: 39px;

  margin-bottom: 5px;

  display: flex;
  align-items: center;

  padding: 0 3px 0 10px;
  box-sizing: border-box;

  border-radius: 2px;
  background-color: #171616;
}

.terminal-order__interface {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.terminal-order__title {
  color: rgba(255, 255, 255, 0.4);
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
}

.terminal-order__input {

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  background-color: transparent;
  border: none;
  outline: none;

  color: #fff;
  font-size: 10px;

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.20);
    font-size: 10px;
    transition: .15s eas;
  }

}

.terminal-order__currency {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -.8px;
  text-transform: uppercase;

  margin-right: 7px;
}

.terminal-order__switcher {
  display: flex;
  flex-direction: column;
}

.terminal-order__switch {
  width: 13px;
  height: 15px;

  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  color: rgba(255, 255, 255, 0.4);
  font-size: 3px;

  background-color: #272727;

  transition: .15s ease;

  &:hover,
  &:focus {
    background-color: #818181;
  }
}

.terminal-order__switch--type-less {
  transform: rotate(180deg);
}

.terminal-order__rate {
  display: flex;
  justify-content: space-between;
}

.terminal-order__percent {
  height: 17px;

  padding: 0 14.9px;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  border: 1px solid #131212;
  border-radius: 2px;

  color: rgba(255, 255, 255, 0.51);
  font-size: 10px;
}

.terminal-order__percent--current-true {
  background-color: #363636;
}

.terminal-order__sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.terminal-order__total {
  margin: 8px 0 7px 0;

  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
}

.terminal-order__count {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: .9px;
}

.terminal-order__button {
  display: block;
  text-align: center;
}
