.user-button {
  width: 100%;
}

.user-button__content {
  width: auto;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;

  transition: .15s ease;
}

.user-button__content--theme-red {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 37px;
  background-color: #D21616;
  border: 1px solid #AA0303;

  padding: 0 20px;

  &:hover,
  &:focus {
    background-color: #D11A1A;
  }
}

.user-button__content--theme-green {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 37px;
  background-color: #00B121;

  border: 1px solid #069521;

  padding: 0 20px;

  &:hover,
  &:focus {
    background-color: #10AC2D;
  }
}
