.flash {
  display: inline-block;

  line-height: 40px;
  padding: 0 14.5px;
  margin: 0 auto;

  border-radius: 6px;
}

.flash--theme-green {
  color: #0EAB2B;
  font-size: 13px;
  letter-spacing: .3px;
  background-color: #D9FBDF;
}
