@import "../../../components/Local/Account/AccountContainer/cointainer-size";

.account-dashboard__grid {
  height: calc(100vh - 60px - 13px - 27px - 20px);

  margin-top: 13px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.account-dashboard__item {
  flex-shrink: 0;
}

.account-dashboard__item--type-getting-start {
  max-width: 256px;
  width: 100%;
}

.account-dashboard__item--type-available-currencies {
  max-width: 712px;
  width: 100%;
  height: 100%;

  .available-currencies {
    height: 100%;
    background-color: #fff;
  }
}

.account-dashboard__item--type-my-funds {
  max-width: 256px;
  width: 100%;
  height: 100%;
}

.account__section-tab--isActive-yes {
  color: #D21616;
  font-weight: bold;
}

@media (max-width: $containerLarge) {
  .account-dashboard__grid {
    flex-wrap: wrap;

    height: auto;
    padding-bottom: 40px;
  }

  .account-dashboard__item--type-getting-start {
    height: 520px;
  }

  .account-dashboard__item--type-my-funds {
    max-width: calc(100% - 256px - 15px);
    height: 520px;
    order: 1;

    margin-bottom: 15px;
  }

  .account-dashboard__item--type-available-currencies {
    max-width: 100%;
    order: 3;
  }
}

@media (max-width: $containerMedium) {
  .account-dashboard__item--type-my-funds {
    order: 1;

    margin-bottom: 15px;
  }

  .account-dashboard__grid {
    padding-top: 13px;
  }
}

@media (max-width: $containerSmall) {
  .account-dashboard__item--type-getting-start,
  .account-dashboard__item--type-available-currencies,
  .account-dashboard__item--type-my-funds {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }

  .account-dashboard__item--type-my-funds {
    height: calc(100vh - 60px - 50px - 41px - 12px);
  }

  .account-funds__list {
    height: 100%;
  }
}
