.primary-logo {
  color: #000000;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;

  display: flex;
  align-items: center;

  text-decoration: none;
  outline: none;

  &:before {
    content: "";

    margin-right: 10px;

    width: 30px;
    height: 30px;
    display: inline-block;

    background-size: 70%;
    background-image: url('../../../assets/img/icons/header-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.primary-logo--theme-white {
  color: #fff;
}
