@import "../AccountContainer/cointainer-size";

.account-header {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;

  background: #fff;
  border-bottom: 1px solid #D9D9D9;

  .account-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
  }
}

.account-header__logo {
  margin-right: 170px;
}

.account-header__menu {
  height: 100%;
  margin-right: auto;

  padding: 0 17px;
  box-sizing: border-box;
}

.account-header__wrapper {
  height: 100%;

  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
}

.account-header__link {
  height: 100%;

  display: flex;
  align-items: center;

  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  outline: none;

  border-bottom: 1px solid transparent;

  transition: .15s ease;

  &.router-link-active {
    color: #D21616;
    border-color: #D21616;

    .account-header__icon {
      color: #D21616;
    }
  }

  &:not(:last-child) {
    margin-right: 40px;
  }

  &:hover:not(.router-link-active),
  &:focus:not(.router-link-active) {
    border-color: #000000;
  }
}

.account-header__icon {
  color: #D3D3D3;
  font-size: 10px;
  margin-right: 10px;

  transition: .15s ease;
}

.account-header__profile {
  margin-left: 60px;
}

@media (max-width: $containerLarge) {
  .account-header__logo {
    margin-right: 60px;
  }
}

@media (max-width: $containerMedium) {
  .account-header {
    margin-bottom: 48px;
  }

  .account-header__logo {
    margin-right: auto;
  }

  .account-header__menu {
    width: 100%;
    height: 50px;

    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 60px;

    background-color: #fff;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
  }

  .account-header__wrapper {
    max-width: 712px;

    width: 100%;
    margin: 0 auto;

    overflow-x: scroll;

    box-sizing: border-box;
  }

  .account-header__link {
    flex-shrink: 0;
    box-sizing: border-box;

    &:not(.router-link-active) {
      display: flex;
    }
  }
}

@media (max-width: $containerSmall) {
  .account-profile {
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 5px;
  }

  .account-header__wrapper {
    max-width: 320px;
  }
}

@media (max-width: $containerExtraSmall) {
  .account-header__wrapper {
    padding: 0 20px;
  }
}
