.page {
  font: 13px "Segoe UI Fixed", sans-serif;
  line-height: 1.5;

  position: relative;
  min-height: 100vh;
  margin: 0;

  color: #262626;
  background: #fff;
}


.page--theme-account {
  background-color: #F6F6F6;
}

.page--theme-terminal {
  background-color: #161616;
}

.page--theme-auth {
  background-color: #D21616;
}

.page--theme-red {
  background-color: #D21616;
}
