.TerminalCurrentBunch {
  position: relative;
  height: 100%;
}

.TerminalCurrentBunch__buttonSwitch {
  width: 112px;
  height: 100%;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;
  cursor: pointer;

  background-color: #272727;
}

.TerminalCurrentBunch__buttonSwitch_Active {
  .TerminalCurrentBunch__currentIcon {
    transform: rotate(180deg);
  }
}

.TerminalCurrentBunch__currentLabel {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.TerminalCurrentBunch__TableWrapper {
  position: absolute;

  right: 0;
  visibility: hidden;
  opacity: 0;

  transition: .15s ease;

  width: 532px;
}

.TerminalCurrentBunch__TableWrapper_Visible {
  visibility: visible;
  opacity: 1;
}

.TerminalCurrentBunch__currentIcon {
  color: #fff;
  font-size: 6px;

  margin-left: 7px;
  transition: .20s ease;
}

.TerminalCurrentBunch__TableHeader {
  width: 100%;
  height: 60px;

  background-color: #272727;
}

.TerminalCurrentBunch__TableTabs {
  height: 100%;

  display: flex;
  align-items: center;
}

.TerminalCurrentBunch__TableTab {
  height: 100%;

  display: flex;
  align-items: center;
  box-sizing: border-box;

  color: #fff;
  font-size: 12px;
  letter-spacing: .3px;

  cursor: pointer;
  outline: none;

  padding: 0 20px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: #D21616;
  }
}

.TerminalCurrentBunch__TableTab_isCurrent {
  color: #D21616;
  font-weight: bold;
  border-color: #D21616;
}

.TerminalCurrentBunch__TableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TerminalCurrentBunch__TableSearch {
  position: relative;
  margin-right: 15px;
}

.TerminalCurrentBunch__TableSearchIcon {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 14px;

  display: flex;
  align-items: center;

  color: #F65454;
}

.TerminalCurrentBunch__TableField {
  width: 190px;
  height: 30px;

  padding: 0 5px 0 40px;
  box-sizing: border-box;

  color: #fff;
  font-size: 14px;

  border-radius: 2px;
  background-color: #1D1D1D;
  outline: none;
  border: none;

  &::placeholder {
    transition: .15s ease;
    color: rgba(255, 255, 255, 0.17);
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

.TerminalCurrentBunch__Table {
  width: 100%;
  background-color: #202020;

  padding: 0;
  border-collapse: collapse;
}

.TerminalCurrentBunch__TableHeading {
  height: 40px;

  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  line-height: 14px;

  border-bottom: 1px solid #272727;

  &:first-child {
    padding-left: 22px;
  }

  &:last-child {
    padding-right: 20px;
  }
}

.TerminalCurrentBunch__TableHeading_alignLeft {
  text-align: left;
}

.TerminalCurrentBunch__TableHeading_alignRight {
  text-align: right;
}

.TerminalCurrentBunch__TableHeading_headingTypeCurrency {
  width: 350px;
}

.TerminalCurrentBunch__TableHeading_headingTypeLastPrice {
  width: 80px;
  padding-right: 79px;
}

.TerminalCurrentBunch__TableHeading_headingTypeChange {
  width: 100px;
}

.TerminalCurrentBunch__Currency {
  display: flex;
  align-items: center;
}

.TerminalCurrentBunch__CurrencyIcon {
  width: 20px;
  height: 20px;

  margin-right: 16px;

  border-radius: 50%;
  background-color: #484848;
}

.TerminalCurrentBunch__CurrencyTitle {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.TerminalCurrentBunch__Price {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.TerminalCurrentBunch__Change {
  display: flex;
  align-items: center;
}

.TerminalCurrentBunch__ChangeTitle {
  color: #2ED44D;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;

  margin-right: 25px;
}

.TerminalCurrentBunch__ChangeIcon {
  color: #0C0B0B;
  cursor: pointer;
}

.TerminalCurrentBunch__TableColumn {
  height: 45px;

  &:first-child {
    padding-left: 22px;
  }

  &:nth-child(2) {
    padding-right: 75px;
  }

}
