.primary-logo {
  color: #F65454;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  display: flex;
  align-items: center;

  text-decoration: none;
  outline: none;

  &:before {
    content: "";

    margin-right: 10px;

    width: 30px;
    height: 30px;
    display: inline-block;

    border-radius: 50%;
    background-size: 100%;
    background-image: url('../../../assets/img/icon_reyna.svg');
    background-repeat: no-repeat;
    background-position: calc(50% + 1px) center;
  }
}
